@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

@font-face {
    font-family: 'verdemoderna';
    font-style: normal;
    font-weight: 400;
    src: url(http://www.csszengarden.com/214/verdemoderna.woff) format('woff');
  }

* {
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.download-box {
    transition: 0.25s;
}

.download-box:hover {
    position: relative;
    background: #357d93;
    padding: 5pt;
    transition: 0.25s;
}

.download-box:hover .verde-text{
    color: white;
    transition: 0.25s;
}

/* .download-box:hover .verde{
    color: #357d93;
    transition: 0.25s;
} */

.dashed {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.seagreen {
    color: rgb(52,154,169);
    transition: 0.2s;
}

.seagreen:hover {
    color: rgba(52,154,169,0.8);
}

.verde {
    font-family: "verdemoderna";
}

.julius {
    font-family: "Julius Sans One";
    font-weight: normal;
}

.link:hover {
    text-decoration: underline;
}

.main-container {
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 45vh repeat(3, auto) 75vh;
    grid-template-areas: 
        "one one"
        "two three"
        "four five"
        "six seven"
        "eight eight";
    background: #f7f7f7;
}

.one {
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url("http://www.csszengarden.com/214/contours@2x.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/huntington.jpg");
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-position: center;
    background-size: 50% auto, auto, auto, cover;
    grid-area: one;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20% auto 20%;
    grid-template-areas: 
        ". v"
        "t v"
        ". v";
}

.header-main {
    grid-area: t;
    color: rgba(255,255,255,1);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        ". . . ."
        ". i h1 ."
        ". i h2 ."
        ". . . .";
    justify-content: center;
    align-items: center;
}

.header-main > img {
    grid-area: i;
    height: 100pt;
    margin-right: 20pt;
}

.header-main > h1 {
    font-family: "Julius Sans One";
    font-size: 3.2em;
    font-weight: normal;
    grid-area: h1;
    margin: 0;
    align-self: end;
}

.header-main > h2 {
    font-family: "Libre Baskerville";
    font-size: 1.5em;
    font-style: italic;
    grid-area: h2;
    margin: 0;
    align-self: center;
    opacity: 0.5;
    font-weight: normal;
}

.header-btns {
    grid-area: v;
    background: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 20% 55% 20% auto;
    grid-template-rows: auto 25% auto;
    grid-template-areas: 
        ". . . . ."
        ". lb mb rb ."
        ". . . . .";  
}

.header-btns > button {
    font-family: "Julius Sans One";
    border: none;
    background: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.header-btns > button:hover {
    background: rgba(255, 255, 255, 0.5);  
    transition: 0.3s; 
}

#left-btn {
    margin-right: 0;
    grid-area: lb;
}

#left-link {
    font-family: "verdemoderna";
    font-size: 35pt;
    position: relative;
    top: 0;
    color: rgba(255, 255, 255, 0.5);
}

#middle-btn {
    grid-area: mb;
}

#middle-link {
    font-size: 14pt;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
}

#right-btn {
    margin-left: 0;
    grid-area: rb;
}

#right-link {
    font-family: "verdemoderna";
    font-size: 35pt;
    position: relative;
    top: 0;
    color: rgba(255, 255, 255, 0.5);   
}

.header-btns > button:hover #left-link,
.header-btns > button:hover #middle-link,
.header-btns > button:hover #right-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);   
}

.two {
    background: rgb(255, 255, 255);
    grid-area: two;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    grid-template-rows: 2vh auto 2vh;
    grid-template-areas: 
        ". . ."
        ". body ."
        ". . .";
}

#two-body {
    grid-area: body;
    color: rgb(40, 63, 67);
    font-family: "Libre Baskerville";
    line-height: 25pt;
}

/* .download-link > *:hover {
    cursor: pointer;
    background: blue;
} */

.download-box .verde {
    background: rgb(216, 223, 205);
    color: rgba(166, 180, 147, 0.8);
    border: none;
    padding: 2pt;
    border-radius: 2pt;
    font-size: 1em;
}

.download-box:hover .verde {
    background: #214e5c;
    color: white;
    transition: 0.25s;
}

.verde-text {
    font-family: "Julius Sans One";
    background: none;
    color: rgba(151, 172, 149, 0.8);
}

#two-body > h3 {
    font-size: 1.9em;
    opacity: 0.8;
}

.three {
    background: rgba(237, 244, 240, 1);
    grid-area: three;
    display: grid;
    grid-template-columns: 5% auto 30%;
    grid-template-rows: 5vh auto 5vh;
    grid-template-areas: 
        ". . ."
        ". body ."
        ". . ."; 
}

.contributors {
    grid-area: body;     
}

.contributors > li {
    padding: 15pt 0;
    border-top: solid 0.5pt rgba(90,109,111,0.2);
}

#contributor-one {
    border: none;
}

.link-one {
    font-family: "Julius Sans One";
    font-size: 1.1em;
    color: rgba(90,109,111,1);
    transition: 0.2s;
}

.link-one:hover {
    color: rgba(138,188,159,1); 
    transition: 0.2s;  
}

.contributors span {
    font-style: italic;
    color: rgba(138,188,159,0.5); 
}

.link-two {
    font-size: 1.1em;
    color: rgba(87,93,77,1);
    transition: 0.2s;
}

.link-two:hover {
    color: rgba(138,188,159,1); 
    transition: 0.2s;  
}

.four {
    background: rgba(138,188,159,0.5);
    grid-area: four;
    background-attachment: scroll, scroll, fixed;
    background-image: url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/bamboo.png");
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    grid-template-rows: 2vh auto 2vh;
    grid-template-areas: 
        ". . ."
        ". body ."
        ". . .";
}

#four-body {
    grid-area: body;
    color: rgb(40, 63, 67);
    font-family: "Libre Baskerville";
    line-height: 25pt;
}

#four-body > h3 {
    font-size: 1.9em;
    opacity: 0.8;
}

.five {
    grid-area: five;
    background: rgba(138,188,159,0.6);
    background-attachment: fixed;
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 5% auto 30%;
    grid-template-rows: 5vh auto 5vh;
    grid-template-areas: 
        ". . ."
        ". body ."
        ". . .";
}

.resources {
    grid-area: body;
}

.resources > li {
    padding: 15pt 0;
    border-top: solid 0.5pt rgba(90,109,111,0.2);
}

#resource-five {
    border-bottom: solid 0.5pt rgba(90,109,111,0.2);
}

.six {
    background: rgb(255, 255, 255);;
    grid-area: six;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    grid-template-rows: 2vh auto 2vh;
    grid-template-areas: 
        ". . ."
        ". body ."
        ". . .";
}

#six-body {
    grid-area: body;
    color: rgb(40, 63, 67);
    font-family: "Libre Baskerville";
    line-height: 25pt;
}

#six-body > h3 {
    font-size: 1.9em;
    opacity: 0.8;
}

.seven {
    background: rgba(237, 244, 240, 1);
    grid-area: seven;
}

.eight {
    grid-area: eight;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url("http://www.csszengarden.com/214/contours@2x.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/koi.jpg");
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-position: center;
    background-size: 50% auto, auto, auto, cover;
}

.creator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville";
    text-align: center;
}

#creator-p {
    color: rgba(237, 244, 240, 0.4);
    font-size: 2em;
    line-height: 45pt;
    font-style: italic;
}

.creator a {
    color: rgba(237, 244, 240, 0.8);
    font-style: normal;
}

.body-credits {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
        ". creator ."
        "footer footer footer"
}

.body-credits > .creator {
    grid-area: creator;
    padding: 0;
}

.body-credits > .footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(21, 67, 70);
    padding: 0 85pt;
    font-size: 5em;
}

.body-credits > .footer > a {
    color: rgba(237, 244, 240, 0.5);
    transition: 0.3s;
}

#html > #html-after {
    display: none;
}

#html:hover > #html-after {
    display: inline-block;
    transition: 0.3s;
}

#html:hover > #html-before {
    display: none;
}

#css > #css-after {
    display: none;
}

#css:hover > #css-after {
    display: inline-block;
    transition: 0.3s;
}

#css:hover > #css-before {
    display: none;
}

#cc > #cc-after {
    display: none;
}

#cc:hover > #cc-after {
    display: inline-block;
    transition: 0.3s;
}

#cc:hover > #cc-before {
    display: none;
}

#ally > #ally-after {
    display: none;
}

#ally:hover > #ally-after {
    display: inline-block;
    transition: 0.3s;
}

#ally:hover > #ally-before {
    display: none;
}

#git > #git-after {
    display: none;
}

#git:hover > #git-after {
    display: inline-block;
    transition: 0.3s;
}

#git:hover > #git-before {
    display: none;
}



@media (max-width: 1130px) {
    #two-body > h3, #four-body > h3, #six-body > h3 {
        font-size: 1.3em;
    }

    #two-body p, #four-body p, #six-body p {
        font-size: 0.9em;
        line-height: 20pt;
    }

    .main-container {
        grid-template-columns: 100%;
        grid-template-rows: 35vh repeat(6, auto);
        grid-template-areas: 
            "one"
            "two"
            "four"
            "six"
            "eight"
            "three"
            "five";
    }  
    
    .seven {
        display: none;
    }
    
    .eight {
        height: 50vh;
    }

    .header {
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-rows: 70% 30%;
        grid-template-areas: 
            ". t ."
            "v v v";
    }

    .header-main {
        grid-area: t;
        color: rgba(255,255,255,1);
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            ". . . ."
            ". i h1 ."
            ". . h2 ."
            ". . . .";
        justify-content: center;
        align-items: center;
    }
    
    .header-main > img {
        grid-area: i;
        height: 65pt;
        margin-right: 20pt;
        opacity: 0.7;
    }

    .header-main > h1 {
        margin: 0;
        font-size: 2.2em;
        font-weight: normal;
        align-self: center;
    }
    
    .header-main > h2 {
        grid-area: h2;
        margin: 0;
        font-size: 1.1em;
        align-self: baseline;
        text-align: center;
        position: relative;
        top: -13pt;
    }

    .header-btns {
        background: rgba(255, 255, 255, 0.2);
        display: flex;
    }

    .header-btns > button {
        color: rgba(255, 255, 255, 0.5);
        border: none;
        background: none;
    }

    #left-btn {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 10%;
    }

    #left-link {
        color: rgba(255, 255, 255, 0.5);
    }

    #middle-btn {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 80%;
    }

    #middle-link {
        font-size: 13pt;
        color: rgba(255, 255, 255, 0.5);
        height: 100%;
    }

    #right-btn {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 10%;
    }

    #right-link {
        color: rgba(255, 255, 255, 0.5);
    }

    #creator-p {
        font-size: 1.4em;
        line-height: 30pt;
    }

    .body-credits > .footer {
        font-size: 2.5em;
    }

    .three {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5vh auto 5vh;
        grid-template-areas: 
            ". ."
            "body body"
            ". ."; 
    }
    
    .contributors {
        grid-area: body;
        padding: 0;   
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "one two"
            "three four"
            "five six"
            "seven eight";  
        margin: 0;
    }

    .contributors > li {
        padding: 15pt 20pt;
    }

    #contributor-one {
        grid-area: one;
        padding-top: 0;
    }

    #contributor-two {
        grid-area: two;
        border: none;
        padding-top: 0;
    }

    #contributor-three {
        grid-area: three;
    }

    #contributor-four {
        grid-area: four;
    }

    #contributor-five {
        grid-area: five;
    }

    #contributor-six {
        grid-area: six;
    }

    #contributor-seven {
        grid-area: seven;
        padding-bottom: 0;
    }

    #contributor-eight {
        grid-area: eight;
        padding-bottom: 0;
    }

    .five {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5vh auto 5vh;
        grid-template-areas: 
            ". ."
            "body body"
            ". ."; 
    }
    
    .resources {
        grid-area: body;
        padding: 0;   
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "one two"
            "three four"
            "five five";  
        margin: 0;
    }

    .resources > li {
        padding: 15pt 20pt;
    }

    #resource-one {
        grid-area: one;
        padding-top: 0;
        border-top: none;
    }

    #resource-two {
        grid-area: two;
        padding-top: 0;
        border-top: none;
    }

    #resource-three {
        grid-area: three;
    }

    #resource-four {
        grid-area: four;
    }

    #resource-five {
        grid-area: five;
        padding-bottom: 0;
        border-bottom: none;
    }
}

@media (max-width: 600px) {
    .download-p {
        display: none;
    }

    .header-main > h1 {
        font-size: 1.75em;
    }

    .header-main > img {
        height: 40pt;
    }
}

@media (max-width: 500px) {
    .header-main {
        display: grid;
        grid-template-columns: 0.25fr 3fr 0.25fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            ". . ."
            ". i ."
            ". h1 ."
            ". h2 ."
            ". . .";
        text-align: center;
    }  

    .header-main > img, .header-main > h1, .header-main > h2 {
        width: 100%;
        margin: 10pt 0;
    }

    .header-main > img {
        margin-top: 15pt;
        margin-bottom: 0;
    }

    .body-credits > .footer {
        font-size: 2em;
        justify-content: space-evenly;
        padding: 0 50pt;
    }
}

@media (max-width: 320px) {
    .header-main {
        grid-template-columns: 0.25fr 3fr 0.25fr;
    }

    .header-main > h1 {
        font-size: 1.4em;
    }

    .header-main > h2 {
        font-size: 0.9em;
    }

    .body-credits > .creator {
        font-size: 0.75em;
    }

    .contributors {
        display: flex;
        flex-direction: column;     
    }

    #contributor-one {
        border-bottom: solid 0.5pt rgba(90,109,111,0.2);
    }

    #contributor-two, #resource-two {
        padding-top: 15pt;
    }
    
    .contributors > li {
        flex: 1 1 100%;
    }

    .resources {
        display: flex;
        flex-direction: column;
    }

    #resource-one {
        border-bottom: solid 0.5pt rgba(90,109,111,0.2);
    }
    
    .resources > li {
        flex: 1 1 100%;
    }
}