@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amatic SC", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font-family: "Amatic SC", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select {
    border: none;
}

.app-container {
    width: 100vw;
    display: grid;
    grid-template-rows: 10vh minmax(80vh, auto) 10vh;
    grid-template-columns: auto;
    grid-template-areas: 
        "n"
        "c"
        "f";
}

.navbar {
    width: 100%;
    grid-area: n;
    background: rgb(234,230,234);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links > a {
    text-decoration: none;
    font-size: 2em;
    color: #FD5B78;
    transition: 0.1s;
}

.menu-links > a:hover {
    /* border-bottom: solid 2pt #AAF0D1; */
    color: #50BFE6;
    transition: 0.1s;
}

.title, .navbar > a:last-child {
    padding-right: 10pt;
}

.navbar > h1 {
    margin-left: 10pt;
    font-family: "Amatic SC";
    font-size: 2.5em;
    color: #C8C8CD;
    border: solid 2pt#C8C8CD;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3pt;
    padding: 0 10pt;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    height: 100vh;
    width: 45vw;
    top: 0;
}

.menu-links > * {
    margin: 10pt 5pt;
}

.show-menu-links {
    display: flex;
}

.hide-menu-links {
    display: none;
}

.menu-btn, .close-menu-btn {
    font-size: 1.5em;
    color: #FD5B78;
    border: none;
    background: none;
    transition: 0.2s;
}

.close-menu-btn {
    font-size: 2em;
}

.menu-btn:hover, .close-menu-btn:hover {
    cursor: pointer;
    color: #50BFE6;
    transition: 0.2s;
}

.body {
    width: 100%;
    grid-area: c;
}

.home {
    background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    padding: 25pt 40pt;
    border: solid 6pt rgba(200, 200, 200, 0.4);
    border-radius: 3pt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "Amatic SC";
    background: rgba(255, 255, 255, 0.3);
}

.title-container > * {
    margin: 0;
}

.erased-container {
    background: rgb(234,230,234);
    display: grid;
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 5vh auto 10vh auto 5vh;
    grid-template-areas: 
        ". . ."
        ". desc ."
        ". form ."
        ". pics ."
        ". . ."
    ;
}

.description {
    grid-area: desc;
    align-self: center;
    font-size: 1.5em;
}

.form {
    grid-area: form;
    justify-self: center;
    align-self: center;
}

.topics-container {
    grid-area: pics;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.character, .location, .activity, .form  * {
    margin: 5pt 0;
    padding: 10pt;
    font-size: 2em;
    background: #FD5B78;
    border: none;
    border-radius: 3pt;
    transition: 0.3s;
}

.form > button:hover, .form > select {
    cursor: pointer;
    background: #50BFE6;
    border-radius: 3pt;
    transition: 0.3s;
}

.canvas-container button {
    border: none;
    border-radius: 2pt;
    transition: 0.3s;
}

.canvas-container button:hover {
    background: rgba(3, 3, 3, 0.25);
    color: #f7f7f7;
    border-radius: 2pt;
    transition: 0.3s;
    cursor: pointer;
}

.topics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.canvas-topic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: solid 5pt rgba(0,0,0,.1);
}

.tools-btns, .colored-btns {
    border: none;
    border-radius: 3pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tool-btn {
    flex: 1 1 50%;
    height: minmax(30pt auto);
    font-size: 1.5em;
}

.colored-btns > button {
    flex: 1 1 33%;
    height: 30pt;
    font-size: 1.5em;
}

.footer {
    width: 100%;
    grid-area: f;
    background: darkslateblue;
    color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: 100vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    font-size: 2em;
}

.modal-btn {
    font-size: 2em;
}

.display-block {
    display: block;
    transition: 0.5s;
}

.display-none {
    display: none;
    transition: 0.5s;
}

@media (max-width: 600px) {
    .title-container {
        font-size: 1em;
    }

    .menu-links {
        width: 100vw;
    }
    
    .character, .location, .activity, .form  * {
        font-size: 1em;
    }

    .modal-main {
        width: 100%;
    }

}