* {
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
}

.box-container {
    width: 300pt;
    height: 300pt;
}

.box {
    display: inline-block;
    background: tomato;
    width: 25%;
    height: 100pt;
}

.one {
    background: purple;
    width: 50%
}

.two {
    background: skyblue;
    width: 50%
}

.three {
    background: blanchedalmond;
    width: 25%
}

.four {
    background: sienna;
    width: 25%
}