body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo-item {
    display: flex;
    align-items: center;
}

.todo-item * {
    height: auto;
    font-size: 1em;
}

.todo-item p {
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: aqua;
}

.todo-item button {
    border: none;
    background: none;
    transition: 0.4s;
}

.todo-item button:hover, .todo-item input:hover {
    cursor: pointer;
    border-radius: 3pt;
    background: #333;
    color: #f7f7f7;
}