* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.header-container {
    display: flex;
    width: 100%;
    height: auto;
    background: #f7f7f7;
    align-items: center;
}

/* changes */
#header {
    position: fixed;
    top: 0;
    transition: 0.75s ease-out
}

h1 {
    width: 40vw;
    margin: 10pt 15pt;
}

.nav-list {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.nav-item, .nav-item > * {
    flex: 1;
    color: slategrey;
    transition: 0.2s ease-out;
}

/* .menu-btn {
    display: flex;
    flex-direction: column;
    margin: 0 10pt 0 0;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn > * {
    width: 25pt;
    height: 2pt;
    background: slategrey;
    border-radius: 3pt;
}

.hamburger-middle {
    margin: 4pt 0;
}

.show{
    visibility: hidden;
} */

#about-id, #contact-id {
    text-decoration: none;
}

#about-id:hover, #contact-id:hover, #gallery-id:hover {
    cursor: pointer;
    color: tomato;
    transition: 0.2s ease-in;  
}

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
    color: tomato;
    transition: 0.2s ease-in;
}

.nav-list > .one {
    padding: 15pt 30pt;
    font-size: 30pt;
    flex: 4;
}

.image {
    background-image: url("https://images.unsplash.com/photo-1504671496180-901d79454749?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 45vh;
    background-repeat: no-repeat;
}

.main-container {
    padding: 10pt 15%;
    line-height: 25pt;
    height: auto;
    width: 100vw
}

h1 {
    font-size: 30pt
}

.main-container > h3 {
    font-size: 20pt
}

span {
    font-size: 12pt;
    text-align: start;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150pt;
}

.body-image {
    width: 30%;
    height: 100%; 
    padding: 15pt; 
    background-position: center;
}

.image-container > .one {
    background-image: url("https://images.unsplash.com/photo-1493787039806-2edcbe808750?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .5s;
}

.image-container > .two {
    background-image: url("https://images.unsplash.com/photo-1533060498584-2f538c6f84fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .5s;
}

.image-container > .three {
    background-image: url("https://images.unsplash.com/photo-1474649111648-d95d30755186?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80");
    background-size: 100%;
    background-repeat: no-repeat; 
    transition: 1s;  
}

.image-container > .one:hover,
.image-container > .two:hover,
.image-container > .three:hover {
    transition: 1s;
    transform: scale(1.5);
}

.footer-container {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    background: tomato;
    color: #f7f7f7;
    justify-content: space-evenly;
    align-items: center;
}

h3 > a {
    padding: 5pt;
    text-decoration: none;
    color: #f7f7f7;
    transition: 0.2s ease-out;
}

h3 > a:hover {
    cursor: pointer;
    color: lightblue;
    border-radius: 5pt;
    transition: 0.2s ease-in;
}

@media (max-width: 1000px) {
    h1 {
        /* font-size: 20pt; */
    }

    /* .nav-list {
        display: none;
    } */
    
    .image-container {
        flex-direction: column;
        height: 400pt;
        justify-content: space-between;
    }

    .image-container > .two {
        margin: 7pt 0;
    }

    .body-image {
        width: 80%;
    }

    /* .nav-list {
        visibility: hidden;
    } */

    /* .show {
        visibility: visible;
    } */
}

@media (max-width: 400px) {
    h1 {
        font-size: 20pt;
    }   
}