body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 10vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.15);
    color: rgb(255, 255, 255);
}

.body {
    background: #FD5B78;
}

.nav-item {
    text-decoration: none;
    color: #FD5B78
}