.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    text-align: center;
    color: white;
}

#one {
    background: orange;
}

#two {
    background: red;   
}

#three {
    background: blue;
}

#four {
    background: purple;
}

#five {
    background: pink;
}

#six {
    background: yellow;
}