* {
    box-sizing: border-box;
    font-size: 0px;
}

.box-container {
    width: 600pt;
    height: 400pt; 
    margin: auto;
}

.box-container > div {
    display: inline-block;
    border: solid 5pt white;
}

.box-lg {
    width: 100%;
    height: 25%;
}

.box-md {
    width: 75%;
    height: 25%;
}

.box-s {
    width: 50%;
    height: 25%;
}

.box-xs {
    width: 25%;
    height: 25%;
}

.one {
    background: #F5C6D6
}

.two {
    background: #EE2E84;
}

.three {
    background: #85CFD8;
}

.four {
    background: #8DC63F  
}

.five {
    background: #E76E34; 
}



