body {
    margin: 0;
    padding: 0;
}

.front-pg-article {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50pt;
}

img {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.front-pg-article > div {
    text-align: justify;
    width: 100%;
}

p {
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: top;
}

span {
    color: lightslategray;
}

.classified-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90vw;
    text-align: justify;
    margin: 0 auto;
}

.classified-container > div {
    display: inline-block;
    width: 30%;
    border-bottom: solid 2pt black;
}

.label {
    text-transform: uppercase;
    font-weight: bold;
    background: grey;  
    color: #ffffff; 
}

.classified-container > div > p {
    width: 100%;
    margin: 0;
    padding: 2pt;
}